include includes/header.pug
block content
    link(rel='stylesheet' , href='/stylesheets/dashboard.css')
    script(async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0Li1yNhH_sq_woxAAww5Iwg4OVCIegDE&callback=initMap")
    body
        div(id="wrapper")
            include includes/sidenav.pug
            div(id="content-wrapper" class="d-flex flex-column")
                div(id="content")
                    include includes/usernav.pug
                    div(class="container")
                        .row
                            .col-md-4
                                p ID: #[span #{id} ]
                                p Name: #[span #{name} ]
                                p#level Level: #{level}
                                p GPS:   #{lat}, #{lng} 
                            .col-md-8
                                div#map
                                p#rain
        include includes/footer.pug
        script(src="/javascripts/bin.js" type="module")